doctype html
html
  head
    meta(charset="utf-8")
    title Auction
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet" ,type="text/css")
  body
      .container
        .jumbotron
          .row
            .col-md-4
            .col-md-6
              h1 Not Found
    script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
      
  
